/* app css stylesheet */

.versions-table {
    height: 100%;
    vertical-align: middle;
    margin-top: 30px;
    border-bottom: 1px;
}

.row {
}

.name {
    width: 30%;
    text-align: right;
    float: left;
    margin-right: 5%;
}

.version {
    width: 15%;
    text-align: left;
    float: left;
    margin-left: 5%;
}

.title {
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}